<!-- header-logo -->
<table width="100%" bgcolor="{{color-bg}}" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">

<table width="600" bgcolor="{{color-body}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
    <tbody>
        <tr>
            <td align="center">
                <table width="600" bgcolor="{{color-body}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td align="center">
                                <img src="http://placehold.it/270x150/666666/ffffff?text=Logo" alt="{{name}}" border="0" 
                                width="270" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                            </td>
                        </tr>
                        _include('./spacing.html', { "amount": "20" })
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- /header-logo -->
