<!-- 3-col -->
<table width="100%" bgcolor="{{color-bg}}" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">

<!-- use img class: img-180 -->
<table width="600" bgcolor="{{color-body}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width">
<tbody>
<tr>
<td align="center">
<table width="560" bgcolor="{{color-body}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width">
<tbody>
<tr>
<td align="center">
    <!-- left column -->
    <table width="180" align="left" border="0" cellpadding="0" cellspacing="0" class="width">
        <tbody>
            <tr>
                <td>
                    <table width="180" align="center" border="0" cellpadding="0" cellspacing="0" class="inner">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <img src="http://placehold.it/180x180" class="img-180" alt="" border="0" width="180" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                                </td>
                            </tr>
                            _include('./spacing.html', { "amount": "10" })
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: 16px; color: {{color-text}}; text-align:center; line-height: 18px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: {{font-size-base}}; color: {{color-text}}; text-align:center;line-height: 24px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    _include('./button.html', {
                                        "text": "Peace!",
                                        "url": "http://www.example.com/",
                                        "align": "center"
                                    })
                                </td>
                            </tr>
                            _include('./spacing.html', { "amount": "10" })
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- /left column -->

    <!-- spacing -->
    <table width="10" align="left" border="0" cellpadding="0" cellspacing="0" class="width">
        <tbody>
            _include('./spacing.html', { "amount": "10" })
        </tbody>
    </table>
    <!-- /spacing -->

    <!-- center column -->
    <table width="180" align="left" border="0" cellpadding="0" cellspacing="0" class="width">
        <tbody>
            <tr>
                <td>
                    <table width="180" align="center" border="0" cellpadding="0" cellspacing="0" class="inner">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <img src="http://placehold.it/180x180" class="img-180" alt="" border="0" width="180" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                                </td>
                            </tr>
                            _include('./spacing.html', { "amount": "10" })
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: 16px; color: {{color-text}}; text-align:center; line-height: 18px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: {{font-size-base}}; color: {{color-text}}; text-align:center;line-height: 24px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    _include('./button.html', {
                                        "text": "Peace!",
                                        "url": "http://www.example.com/",
                                        "align": "center"
                                    })
                                </td>
                            </tr>
                            _include('./spacing.html', { "amount": "10" })
                        </tbody>
                    </table>
                </td>
            </tr>
            _include('./spacing.html', { "amount": "10" })
        </tbody>
    </table>
    <!-- /center column -->

    <!-- right column -->
    <table width="180" align="right" border="0" cellpadding="0" cellspacing="0" class="width">
        <tbody>
            <tr>
                <td>
                    <table width="180" align="center" border="0" cellpadding="0" cellspacing="0" class="inner">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <img src="http://placehold.it/180x180" class="img-180" alt="" border="0" width="180" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                                </td>
                            </tr>
                            _include('./spacing.html', { "amount": "10" })
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: 16px; color: {{color-text}}; text-align:center; line-height: 18px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: {{font-size-base}}; color: {{color-text}}; text-align:center;line-height: 24px;">
                                    ...
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    _include('./button.html', {
                                        "text": "Peace!",
                                        "url": "http://www.iexample.com/",
                                        "align": "center"
                                    })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- /right column -->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
_include('./spacing.html', { "amount": "20" })
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- /3-col -->
