<!-- banner -->
<table width="100%" bgcolor="{{bg-colour}}" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">

<!-- use img class: img-600 -->
<table width="600" bgcolor="{{body-colour}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
    <tbody>
        <tr>
            <td align="center">
                <table width="600" bgcolor="{{body-colour}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
                    <tbody>
                        <tr>
                            <td align="center">
                                <img src="http://placehold.it/600x300" class="img-600" alt="" border="0" width="600" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                            </td>
                        </tr>
                        _include('./spacing.html', { "amount": "20" })
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- /banner -->
