<!-- nav-bar -->
<table width="100%" bgcolor="{{color-bg}}" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">

<table width="600" bgcolor="{{color-primary}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width">
    <tbody>
        <tr>
            <td style="font-family: Helvetica, arial, sans-serif; font-size: {{font-size-base}}; color: {{color-light}}" >
                <table width="560" align="center" border="0" cellpadding="0" cellspacing="0" class="inner" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" class="nav-stack">
                                <a href="#" style="text-decoration:none;color:{{color-light}}">HOME</a>
                            </td>
                            <td align="center" valign="middle" class="nav-stack">
                                <a href="#" style="text-decoration:none;color:{{color-light}}">REWARDS</a>
                            </td>
                            <td align="center" valign="middle" class="nav-stack">
                                <a href="#" style="text-decoration:none;color:{{color-light}}">PRIZE DRAWS</a>
                            </td>
                            <td align="center" valign="middle" class="nav-stack">
                                <a href="#" style="text-decoration:none;color:{{color-light}}">OUR PRODUCTS</a>
                            </td>
                            <td align="center" valign="middle" class="nav-stack">
                                <a href="#" style="text-decoration:none;color:{{color-light}}">CONTACT US</a>
                            </td>
                        </tr>
                        _include('./spacing.html', { "amount": "20" })
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- /nav-bar -->
