<!-- 2-col -->
<table width="100%" bgcolor="{{bg-colour}}" cellpadding="0" cellspacing="0" border="0" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">

<!-- use img class: img-270 -->
<table width="600" bgcolor="{{body-colour}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">
<table width="560" bgcolor="{{body-colour}}" cellpadding="0" cellspacing="0" border="0" align="center" class="width" style="table-layout: fixed;">
<tbody>
<tr>
<td align="center">
    <!-- left column -->
    <table width="270" align="left" border="0" cellpadding="0" cellspacing="0" class="width">
    <tbody>
    <tr>
    <td>
    <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="inner">
        <tbody>
            <tr>
                <td align="center">
                    <img src="http://placehold.it/270x200" class="img-270" alt="" border="0" width="270" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                </td>
            </tr>
            _include('./spacing.html', { "amount": "10" })
            <tr>
                <td>
                    <table width="230" align="center" border="0" cellpadding="0" cellspacing="0"  class="inmost">
                        <tbody>
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: 14px; color: {{text-colour}}; text-align:left;line-height: 24px;">
                                    ...
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            _include('./spacing.html', { "amount": "10" })
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <!-- /left column -->

    <!-- right column -->
    <table width="270" align="right" border="0" cellpadding="0" cellspacing="0" class="width">
    <tbody>
    <tr>
    <td>
    <table width="270" align="center" border="0" cellpadding="0" cellspacing="0" class="inner">
        <tbody>
            <tr>
                <td align="center">
                    <img src="http://placehold.it/270x200" class="img-270" alt="" border="0" width="270" height="" style="display:block; border:none; outline:none; text-decoration:none;">
                </td>
            </tr>
            _include('./spacing.html', { "amount": "10" })
            <tr>
                <td>
                    <table width="230" align="center" border="0" cellpadding="0" cellspacing="0"  class="inmost">
                        <tbody>
                            <tr>
                                <td style="font-family: {{font-stack}}; font-size: 14px; color: {{text-colour}}; text-align:left;line-height: 24px;">
                                    ...
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            _include('./spacing.html', { "amount": "10" })
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <!-- /right column -->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
_include('./spacing.html', { "amount": "20" })
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- /2-col -->
